@model VRdkHRMsystem.Models.AdminViewModels.Assignment.AddAssignmentViewModel

@{
    ViewData["Title"] = "AddAssignment";
}

<h2>AddAssignment</h2>

<h4>AddAssignmentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAssignment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="OrganisationId" class="control-label"></label>
                <input asp-for="OrganisationId" class="form-control" />
                <span asp-validation-for="OrganisationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <select name="AssignmentMembers" id="AssignmentMembers" multiple>
                @foreach (var employee in Model.Employees)
                {
                <option id="@employee.EmployeeId" value="@employee.EmployeeId">@employee.FirstName @employee.LastName</option>
                }
            </select>
            <div class="form-group">
                <label asp-for="BeginDate" class="control-label"></label>
                <input asp-for="BeginDate" class="form-control" />
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
