@model VRdkHRMsystem.Models.AdminViewModels.Assignment.EditAssignmentViewModel

<form asp-action="EditAssignment" asp-controller="Admin" method="post" class="box-modal vacmodal"  style="border-radius:5px;  margin-left:auto;margin-right:auto;margin-top:auto" id="modalForm">
    <div class="modal__header" style="border-radius:5px;">
        <p class="modal__title">Добавить командировку</p>
        <input asp-for="AssignmentId" hidden />
        <input asp-for="OrganisationId" hidden />
    </div>
    <div class="tripmodal__name">
        <p>Название <span asp-validation-for="Name" style="color: #ad545f;"></span></p>
        <input asp-for="Name" class="input" type="text" autocomplete="off" style="padding-left:10px;"/>
    </div>
    <div class="tripmodal__members" style="padding:20px;">
        <p>Учасники <span asp-validation-for="AssignmentMembers" style="color: #ad545f;"></span></p>
        <select asp-for="AssignmentMembers" asp-items="Model.Employees" multiple="multiple" id="tripMembers" style="width:100%;" hidden></select>
    </div>
    <div class="tripmodal__date">
        <div class="tripmodal__date_block">
            <p>С: <span asp-validation-for="Duration" style="color: #ad545f;"></span></p>
            <input asp-for="BeginDate" class="input" type="text" id="assignmentaddmodal_datepicker_from" name="BeginDate" autocomplete="off" onchange="CalcDiff('assignmentaddmodal_datepicker_from','assignmentaddmodal_datepicker_to')" />
        </div>
        <div class="tripmodal__date_block">
            <p>По: <span asp-validation-for="Duration" style="color: #ad545f;"></span></p>
            <input asp-for="EndDate" class="input" type="text" id="assignmentaddmodal_datepicker_to" autocomplete="off" onchange="CalcDiff('assignmentaddmodal_datepicker_from','assignmentaddmodal_datepicker_to')" />
        </div>

    </div>
    <input asp-for="Duration" readonly id="Duration" class="input" hidden />
    <div class="vacmodal__buttons">
        <button class="button" type="button" data-dismiss="modal">
            <img src="~/images/cancel.png" alt="cancel" />
            <p>Закрыть</p>
        </button>
        <button class="button" type="submit">
            <img src="~/images/submit.png" alt="submit" />
            <p>Изменить</p>
        </button>
    </div>
</form>
<script>
    $.validator.setDefaults({
        ignore: []
    });
    $.validator.unobtrusive.parse("#modalForm");   
</script>

