@model VRdkHRMsystem.Models.AdminViewModels.Employee.EditEmployeeViewModel

@{
    ViewData["Title"] = "EditEmployee";
    var photoBlobUrl = $"https://vrdkstorage.blob.core.windows.net/photos/";
    var timeStamp = DateTime.UtcNow;
}
<form asp-action="EditEmployee" method="post" class="content" id="submit_form">
    <div class="profile__globalwrapper">
        <input asp-for="OrganisationId" hidden />
        <input asp-for="EmployeeId" hidden />
        <div class="profile empprofileedit">
            <div class="empprofile__header empprofileedit__header">
                <div class="profile__imgblock"><img src="@($"{photoBlobUrl}{Model.EmployeeId}.png?{timeStamp.ToString()}")" alt="photo" id="user_photo" style="object-fit: cover;" /></div>
                <label class=" empprofile__button button empprofileedit__button" for="Photo" id="photoUploadLabel">
                    <img src="~/images/plus.png" alt="plus" />
                    <p id="photoUploadText">Изменить фото</p>
                    <input class="sickmessage__ulpoad_my" type="file" id="Photo" accept="image/*" onchange="setupCropper(this)" />
                </label>
            </div>
            <div class="profile__data">
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Имя
                        <span asp-validation-for="FirstName" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="FirstName" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Фамилия
                        <span asp-validation-for="LastName" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="LastName" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Оплачиваемый отпуск
                        <span asp-validation-for="PaidVacationBalance" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="PaidVacationBalance" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Неоплачиваемый отпуск
                        <span asp-validation-for="UnpaidVacationBalance" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="UnpaidVacationBalance" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Больгичные
                        <span asp-validation-for="SickLeaveBalance" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="SickLeaveBalance" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Командировки
                        <span asp-validation-for="AssignmentBalance" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="AssignmentBalance" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Прогулы
                        <span asp-validation-for="AbsenceBalance" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="AbsenceBalance" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="empprofila__data_wrapper empprofileedit__data_wrapper">
            <div class="profile__data empprofileedit__data">

                <div class="profile__datablock">
                    <p class="profile__blockname">Роль на сайте</p>
                    <select asp-for="Role" asp-items="Model.Roles" class="input empprofileedit__input"></select>
                </div>
                <div class="profile__datablock">
                    <p class="profile__blockname">Должность:</p>
                    <select asp-for="PostId" asp-items="Model.Posts" class="input empprofileedit__input"></select>
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Рабочий E-mail
                        <span asp-validation-for="WorkEmail" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="WorkEmail" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Личный E-mail
                        <span asp-validation-for="PersonalEmail" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="PersonalEmail" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Номер телефона
                        <span asp-validation-for="PhoneNumber" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="PhoneNumber" id="phone" class="input empprofileedit__input" type="text" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        День рождения
                        <span asp-validation-for="BirthDate" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="BirthDate" class="input empprofileedit__input" type="text" id="empprofileedit__datepicker__birthDate" value="@Model.BirthDate.Date.ToString("dd-MM-yyyy")" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Дата найма
                        <span asp-validation-for="HireDate" style="color: #ad545f;"></span>
                    </label>
                    <input asp-for="HireDate" class="input empprofileedit__input" type="text" id="empprofileedit__datepicker__hireDate" value="@Model.HireDate.Date.ToString("dd-MM-yyyy")" autocomplete="off" />
                </div>
                <div class="profile__datablock">
                    <label class="profile__blockname">
                        Дата увольнения
                        <span asp-validation-for="DismissalDate" style="color: #ad545f;"></span>
                    </label>
                    @if (Model.DismissalDate == null)
                    {
                        <input asp-for="DismissalDate" class="input empprofileedit__input" type="text" id="empprofileedit__datepicker__dismissalDate" value="" autocomplete="off" />
                    }
                    else
                    {
                        <input asp-for="DismissalDate" class="input empprofileedit__input" type="text" id="empprofileedit__datepicker__dismissalDate" value="@Model.DismissalDate.Value.Date.ToString("dd-MM-yyyy")" autocomplete="off" />
                    }
                </div>
                <div class="profile__datablock">
                    <p class="profile__blockname">Статус</p>
                    <select asp-for="State" asp-items="Model.States" class="input empprofileedit__input"></select>
                </div>
            </div>
            <div class="empprofileedit__buttonwrapper">
                <button class="empprofile__button button back_button" type="button">
                    <img src="~/images/cancel.png" alt="cancel" />
                    <p>Назад</p>
                </button>
                <button class="empprofile__button button" type="submit">
                    <img src="~/images/submit.png" alt="submit" />
                    <p>Сохранить изменения</p>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="user_photo_modal">
    <div class="modal-dialog modal-content photo_canvas" style="margin-left:auto;margin-right:auto;margin-top:5%">
        <div id="questionmodal1" style="width:auto">
            <div class="modal__header" style="border-radius: 6px;">
                <p class="modal__title">Изменить фото</p>
            </div>
            <div class="questionmodal__question" style="max-height:300px;overflow:hidden;">
                <img style="max-width:100%;height:auto" id="image" src="" alt="">
            </div>
            <div class="vacmodal__buttons">
                <button class="button" type="button" id="cancel" data-dismiss="modal">
                    <img src="~/images/cancel.png" alt="cancel" />
                    <p>Отменить</p>
                </button>
                <button class="button" type="button" id="croppImage" data-dismiss="modal">
                    <img src="~/images/submit.png" alt="submit" />
                    <p>Изменить</p>
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/cropper.min.js"></script>
    <script src="~/js/profilePhotoCropper.js"></script>
    <script>
        $.validator.setDefaults({
            onkeyup: false
        })
    </script>
    <script src="~/js/submit.js"></script>
    <link rel="stylesheet" href="~/css/cropper.min.css" />
}
