@model VRdkHRMsystem.Models.AdminViewModels.Assignment.EditAssignmentViewModel

<form asp-action="EditAssignment" asp-controller="Admin" method="post" class="box-modal vacmodal" id="submit_form" style="border-radius:10px;  margin-left:auto;margin-right:auto;margin-top:auto">
    <div class="modal__header" style="border-top-left-radius:10px;border-top-right-radius:10px;">
        <p class="modal__title">Добавить командировку</p>
        <input asp-for="AssignmentId" hidden />
        <input asp-for="OrganisationId" hidden />
    </div>
    <div class="tripmodal__name">
        <p>Название <span asp-validation-for="Name" style="color: #ad545f;"></span></p>
        <input asp-for="Name" class="input" type="text" autocomplete="off" style="padding-left:10px;" />
    </div>
    <div class="tripmodal__members" style="padding:20px;">
        <p>Учасники <span asp-validation-for="AssignmentMembers" style="color: #ad545f;"></span></p>
        <select asp-for="AssignmentMembers" asp-items="Model.Employees" multiple="multiple" id="tripMembers" style="width:100%;" hidden></select>
    </div>
    <span asp-validation-for="Duration" style="color: #ad545f; margin-left:auto;margin-right:auto"></span>
    <div class="tripmodal__date">
        <div class="tripmodal__date_block">
            <p>С:</p>
            <input asp-for="BeginDate" class="input date_picker_diff" type="text" id="from_datepicker" name="BeginDate" autocomplete="off"/>
        </div>
        <div class="tripmodal__date_block">
            <p>По:</p>
            <input asp-for="EndDate" class="input date_picker_diff" type="text" id="to_datepicker" autocomplete="off" />
        </div>
    </div>
    <input asp-for="Duration" readonly id="Duration" class="input" hidden />
    <div class="vacmodal__buttons">
        <button class="button" type="button" data-dismiss="modal">
            <img src="~/images/cancel.png" alt="cancel" />
            <p>Закрыть</p>
        </button>
        <button class="button" type="submit">
            <img src="~/images/submit.png" alt="submit" />
            <p>Изменить</p>
        </button>
    </div>
</form>
<script src="~/js/submit.js"></script>

