@model VRdkHRMsystem.Models.AdminViewModels.EditTeamViewModel

@{
    ViewData["Title"] = "AddTeam";
}
<form asp-action="EditTeam" method="post" class="content" id="submit_form">
    <input asp-for="TeamId" hidden />
    <div class="teamprofile">
        <div class="teamprofile__leader">
            <div class="teamprofile__info">
                <p>Название команды <span asp-validation-for="Name" style="color: #ad545f;"></span></p>
                <input asp-for="Name" class="input" type="text" autocomplete="off"/>
            </div>
            <div class="teamprofile__teamlead" style="padding:20px;">
                <p>Team Lead:</p>
                <select class="emplits__empselect teamprofile__select" asp-for="TeamleadId" asp-items="Model.Teamleads" style="width:100%;" hidden></select>
            </div>
        </div>
        <div class="teamprofile__members">
            <p>Учасники <span asp-validation-for="TeamMembers" style="color: #ad545f;"></span></p>
            <div class="teamprofile__members_wrapper" style="padding:20px;">
                <select asp-for="TeamMembers" asp-items="Model.Employees" multiple="multiple" id="teamMembers" style="width:100%;" hidden></select>
            </div>
            <div class="teamprofile__empbuttons">
                <button class="empprofile__button button back_button ripple" type="button">
                    <img src="~/images/cancel.png" alt="cancel" />
                    <p>Назад</p>
                </button>
                <button class="empprofile__button button ripple" type="submit">
                    <img src="~/images/submit.png" alt="submit" />
                    <p>Изменить</p>
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $.validator.setDefaults({
            ignore: []
        });
        $.validator.unobtrusive.parse("#submit_form");
    </script>
    <script src="~/js/submit.js"></script>
    <script src="~/js/team.js"></script>
}

