@model VRdkHRMsystem.Models.TeamleadViewModels.AbsenceApproveViewModel

<form asp-action="SetAbsence" method="post" class="box-modal vacmodal" id="absence_set_form" style="border-radius:10px;">
    <input asp-for="EmployeeId" hidden />
    <input asp-for="Role" hidden />
    <input asp-for="Date" hidden />
    <input asp-for="TeamId" hidden />
    <div class="modal__header" style="border-top-left-radius:10px;border-top-right-radius:10px;">
        <p class="modal__title">Прогул</p>
    </div>
    <div class="questionmodal__question">
        <p>Вы уверены, что хотите поставить прогул "@Model.FirstName @Model.LastName" за "@Model.Date.ToString("dd.MM.yyyy")"?</p>
    </div>
    <div class="vacmodal__buttons">
        <button class="button ripple" data-dismiss="modal" type="button">
            <img src="~/images/cancel.png" alt="cancel" />
            <p>Отменить</p>
        </button>
        <button class="button ripple" type="submit">
            <img src="~/images/submit.png" alt="submit" />
            <p>Подтвердить</p>
        </button>
    </div>
</form>
<script src="~/js/calendarday.js"></script>