@model VRdkHRMsystem.Models.TeamleadViewModels.Assignment.AssignmentCheckViewModel
<div class="box-modal vacmodal" id="tripcheck"  style="border-radius:10px;  margin-left:auto;margin-right:auto;margin-top:auto">
    <div class="modal__header" style="border-top-left-radius:10px;border-top-right-radius:10px;">
        <p class="modal__title">Командировка</p>
    </div>
    <div class="tripmodal__name">
        <p>@Model.Name</p>
    </div>
    <div class="tripmodal__members">
        <p>Учасники</p>
        <div class="tripmodal__blocks">
            @foreach (var member in Model.AssignmentMembers)
            {
                <div class="tripmodal__block tripmodal__checkblock">
                    <p>@member.FirstName @member.LastName</p>
                </div>
            }
        </div>
    </div>
    <div class="tripmodal__date">
        <div class="tripmodal__date_block">
            <p>С:</p>
            <input asp-for="BeginDate" class="input tripmodal__checkinput" type="text" readonly/>
        </div>
        <div class="tripmodal__date_block">
            <p>По:</p>
            <input asp-for="EndDate" class="input tripmodal__checkinput" type="text" readonly/>
        </div>
    </div>
    <div class="vacmodal__buttons tripmodal__buttons">
        <button class="button" type="button" data-dismiss="modal">
            <img src="~/images/cancel.png" alt="cancel" />
            <p>Закрыть</p>
        </button>
    </div>
</div>