@model VRdkHRMsystem.Models.RequestViewModels.DayOff.EditDayOffRequestViewModel
<form asp-action="EditDayOffRequest" method="post" class="box-modal vacmodal dayoffmodal" id="edit_day_off_form" style="border-radius:10px;  margin-left:auto;margin-right:auto;margin-top:auto">
    <div class="modal__header" style="border-top-left-radius:10px;border-top-right-radius:10px;">
        <input asp-for="TeamId" hidden />
        <input asp-for="DayOffId" hidden />
        <input asp-for="EmployeeId" hidden />
        <input asp-for="DayOffDate" hidden />
        <p class="modal__title">Желаемый выходной</p>
        <p class="modal__date">@Model.DayOffDate.ToString("dd.MM.yyyy")</p>
    </div>
    <div class="dayoffmodal__bodywrapper">
        <div class="dayoffmodal__left">
            <p>Коментарий <span asp-validation-for="Comment" style="color: #ad545f;"></span></p>
            <textarea asp-for="Comment" class="input" cols="30" rows="10">@Model.Comment</textarea>
        </div>
        <div class="dayoffmodal__right">
            <p>Важность</p>
            <div class="dayoffmodal__radiosection">
                <div class="dayoffmodal__labelwrapper">
                    <input type="radio" name="DayOffImportance" value="green" id="dayoffmodal__radio1" @if (Model.DayOffImportance == "green") { <text> checked </text> } />
                    <label for="dayoffmodal__radio1">
                        <p>Желательно</p>
                    </label>
                </div>
                <div class="dayoffmodal__labelwrapper">
                    <input type="radio" name="DayOffImportance" value="yellow" id="dayoffmodal__radio2" @if (Model.DayOffImportance == "yellow") { <text> checked </text> } />
                    <label for="dayoffmodal__radio2">
                        <p>Важно</p>
                    </label>
                </div>
                <div class="dayoffmodal__labelwrapper">
                    <input type="radio" name="DayOffImportance" value="red" id="dayoffmodal__radio3" @if (Model.DayOffImportance == "red") { <text> checked </text> } />
                    <label for="dayoffmodal__radio3">
                        <p>Очень важно</p>
                    </label>
                </div>
                <div class="dayoffmodal__labelwrapper">
                    <input type="radio" name="DayOffImportance" value="delete" id="dayoffmodal__radio4" />
                    <label for="dayoffmodal__radio4">
                        <p>Удалить</p>
                    </label>
                </div>
            </div>
        </div>
        <div class="vacmodal__buttons dayoffmodal__buttons">
            <button class="button" type="button" data-dismiss="modal">
                <img src="~/images/cancel.png" alt="cancel" />
                <p>Отменить</p>
            </button>
            <button class="button" type="submit">
                <img src="~/images/submit.png" alt="submit" />
                <p>Изменить</p>
            </button>
        </div>
    </div>
</form>
<script src="~/js/profileCalendarDay.js"></script>