@model VRdkHRMsystem.Models.RequestViewModels.CompositeRequestVacationViewModel

@{
    ViewData["Title"] = "RequestVacation";
}
<div class="content">
    <div class="profile__globalwrapper">
        @await Html.PartialAsync("~/Views/Profile/_UserProfilePartial.cshtml", Model.ProfileModel)
        @await Html.PartialAsync("_RequestVacationPartial", Model.RequestVacationModel)
    </div>
</div>

 @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
