@model VRdkHRMsystem.Models.RequestViewModels.SickLeave.CompositeRequestSickLeaveViewModel

@{
    ViewData["Title"] = "RequestSickLeave";
}

<div class="content">
    <div class="profile__globalwrapper">
        @await Html.PartialAsync("~/Views/Profile/_UserProfilePartial.cshtml", Model.ProfileModel)
        @await Html.PartialAsync("_RequestSickLeavePartial", Model.RequestSickLeaveModel)
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
