@model VRdkHRMsystem.Models.AdminViewModels.Employee.BalanceResidualViewModel

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<h4>BalanceResidualViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ResidualId" class="control-label"></label>
                <input asp-for="ResidualId" class="form-control" />
                <span asp-validation-for="ResidualId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResidualBalance" class="control-label"></label>
                <input asp-for="ResidualBalance" class="form-control" />
                <span asp-validation-for="ResidualBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
