@model VRdkHRMsystem.Models.SharedModels.DayProccessMenuViewModel

<div class="box-modal vacmodal" style="border-radius:10px;margin-left:auto;margin-right:auto;">
    <div class="modal__header" style="border-top-left-radius:10px;border-top-right-radius:10px;">
        <p class="modal__title">Меню</p>
    </div>
    <div class="questionmodal__question">
        <p>Выберите, пожалуйста, действие</p>
    </div>
    <div class="vacmodal__buttons">
        <button class="button" type="button" date-anchor="@Model.Date"  onclick="timeManagmentModal(this)">
            <p>План деятельности</p>
        </button>
        <button class="button" type="button" employee-anchor="@Model.EmployeeId" date-anchor="@Model.Date" team-anchor="@Model.TeamId"  onclick="proccessWorkDay(this)">
            <p>Работа с днём</p>
        </button>
    </div>
</div>