@model VRdkHRMsystem.Models.Profile.ProfileViewModel

@{
    ViewData["Title"] = "View";
}
<div class="content">
    <div class="profile__globalwrapper">
        @await  Html.PartialAsync("_UserProfilePartial", Model)
        @await Html.PartialAsync("_UserRequestsPartial")
    </div>
</div>
