@model ForgotPasswordViewModel
@{
    Layout = null;
    var message = ViewData["Message"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Vrdk</title>
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
</head>
<body>
    <div class="preloader" id="preloader" onclick="closePreloader(this)">
        <div class="item-1"></div>
        <div class="item-2"></div>
        <div class="item-3"></div>
        <div class="item-4"></div>
        <div class="item-5"></div>
    </div>
    <div class="auth">
        <img src="~/images/logo.png" alt="logo" />
        <form asp-action="ForgotPassword" method="post" class="auth__form" id="submit_form">
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" style="color: #ad545f;"></span>
            <input asp-for="Email" class="input" />
            @if (message != null)
            {
                <span style="color:#2cf6b8">@message</span>
            }
            <button class="button">Отправить</button>
        </form>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/login.js"></script>