@model ResetPasswordViewModel
@{
    Layout = null;
    var error = ViewData["Error"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>Vrdk</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.min.css" />
</head>
<body>
    <div class="preloader" id="preloader" onclick="closePreloader(this)">
        <div class="item-1"></div>
        <div class="item-2"></div>
        <div class="item-3"></div>
        <div class="item-4"></div>
        <div class="item-5"></div>
    </div>
    <div class="auth">
        <img src="~/images/logo.png" alt="logo" />
        <form asp-action="ResetPassword" method="post" class="auth__form" id="submit_form">
            <input asp-for="Code" hidden />
            <input asp-for="Email" hidden />
            <label asp-for="Password">
            </label>
            @if (error != null)
            {
                <span style="color: #ad545f;">@error</span>
            }
            <span asp-validation-for="Password" style="color: #ad545f;"></span>
            <input class="input" asp-for="Password" />
            <label asp-for="ConfirmPassword"></label><span asp-validation-for="ConfirmPassword" style="color: #ad545f;"></span>
            <input class="input" asp-for="ConfirmPassword" />
            <button class="button ripple" type="submit">Изменить</button>
        </form>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/login.js"></script>